DATA:
  CROP_RESOLUTION: [512, 1024]
  SCALE: 0.5
  DATASET: "cityscapes"
  ROOT: "/Users/qbit-glitch/Desktop/datasets/cityscapes/"
  ROOT_VAL: "/Users/qbit-glitch/Desktop/datasets/cityscapes/"
MODEL:
  BACKBONE_TYPE: "resnet50"
  USE_DINO: True
  CHECKPOINT: "/Users/qbit-glitch/Desktop/coding-projects/mbps_panoptic_segmentation/experiments/experiments/mbps_cups_stage2/Unsupervised Panoptic Segmentation/gnmq775y/checkpoints/last.ckpt"
  INFERENCE_CONFIDENCE_THRESHOLD: 0.5
  TTA_INFERENCE_CONFIDENCE_THRESHOLD: 0.7
  TTA_SCALES: [0.5, 0.75, 1.0]
TRAINING:
  BATCH_SIZE: 1
  PRECISION: "32-true"
  OPTIMIZER: "adamw"
  ADAMW:
    LEARNING_RATE: 0.00001
    WEIGHT_DECAY: 0.00001
  VAL_EVERY_N_STEPS: 100
  LOG_MEDIA_N_STEPS: 50
  DROP_LOSS: False
  DROP_LOSS_IOU_THRESHOLD: 0.4
SELF_TRAINING:
  CONFIDENCE_STEP: 0.05
  ROUND_STEPS: 300
  ROUNDS: 3
  USE_DROP_LOSS: False
  SEMANTIC_SEGMENTATION_THRESHOLD: 0.5
AUGMENTATION:
  COPY_PASTE: True
  MAX_NUM_PASTED_OBJECTS: 4
  NUM_STEPS_STARTUP: 300
  RESOLUTIONS:
    - [384, 768]
    - [448, 896]
    - [512, 1024]
SYSTEM:
  ACCELERATOR: "cpu"
  NUM_GPUS: 1
  NUM_WORKERS: 4
  RUN_NAME: "cups_stage3_local"
  LOG_PATH: "experiments"
VALIDATION:
  CACHE_DEVICE: "cpu"
MASK_REFINEMENT:
  ENABLE: True
  MORPHOLOGICAL: True
  GUIDED_FILTER: True
  GUIDED_FILTER_RADIUS: 8
  GUIDED_FILTER_EPS: 0.01
  BILATERAL_SOLVER: False
  MIN_AREA: 100
